            <!-- side left, its part to menu on left-->
            <div id="navside" class="side-left" data-collapse="navbar">
                <!--nav, this structure create with nav (find the bootstrap doc about .nav list) -->
                <ul class="nav nav-list">
                    <li><a href="{% url 'sms_table' %}">SMS</a></li>
                    <li><a href="{% url 'gps' %}">GPS</a></li>
                    <li><a href="{% url 'add_phone' %}">Phone</a></li>
                    <li><a href="{% url 'index' %}">Описание</a></li>                    
                </ul><!-- /nav -->
            </div><!-- /side left-->
